.App {
  display: flex;
  flex-direction: column;
}

.Header {
  background-color: cyan;
}

.Main {
  display: flex;
}

.FLightPlansList {
  display: flex;
  flex-direction: column;
}

.Map {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
}
